In [ ]:
import numpy as np
import pandas as pd
import sys

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

np.set_printoptions(precision=4)
pd.options.display.max_rows = 10

Mounted at /content/drive

In [ ]:
url = '/content/drive/MyDrive/Colab Notebooks/Current/Pandas/examples/ex1.csv' #  use / in path. if use \ in path, put r before path. (r'')
df = pd.read_csv(url, nrows=10) #  by default first row is header. if not need then header = None / False, nrows load and return only first 10 rows and not entire file.
print(df)
type(df)
df.head(2)   # if number not specify then shows first five rows.
df.tail(1)   # if number not specify then shows last five rows.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

   a   b   c   d message
2  9  10  11  12     foo

In [ ]:
url = '/content/drive/MyDrive/Colab Notebooks/Current/Pandas/examples/test.tsv' #  csv = comma seperated value, tsv = tab seperated value
df = pd.read_table(url) # sep = ',' or '\t' for tab
print(df)
type(df)

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

pandas.core.frame.DataFrame

In [ ]:
url = '/content/drive/MyDrive/Colab Notebooks/Current/Pandas/examples/ex1.csv'
df = pd.read_csv(url, names=['col1','col2']) # assign column from last to first. if more column then assign values to NaN, Duplicate column name not allowed.
print(df)

        col1     col2
a b  c     d  message
1 2  3     4    hello
5 6  7     8    world
9 10 11   12      foo

In [ ]:
url = '/content/drive/MyDrive/Colab Notebooks/Current/Pandas/examples/csv_mindex.csv'
df = pd.read_csv(url)
print(df)
df = pd.read_csv(url, index_col=['key1','key2'])
print(df)

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16
           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [ ]:
url = '/content/drive/MyDrive/Colab Notebooks/Current/Pandas/examples/ex4.csv'
df = pd.read_csv(url, skiprows=[0,2,3])
print(df)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
url = '/content/drive/MyDrive/Colab Notebooks/Current/Pandas/examples/ex5.csv'
df = pd.read_csv(url)
print(pd.isnull(df))      #   returns true where value is NaN
pd.isnull(df).sum()

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

something    0
a            0
b            0
c            1
d            0
message      1
dtype: int64

In [ ]:
url = '/content/drive/MyDrive/Colab Notebooks/Current/Pandas/examples/test1.xlsx'
df = pd.read_excel(url,sheet_name='A2')
df

      2234    345234   345
0   45234535    3354     5234
1          3    5345  4352345
2  345235434     323    32452

In [ ]:
url = '/content/drive/MyDrive/Colab Notebooks/Current/Pandas/examples/test1.html'
lst = pd.read_html(url)  # in panda, it is only read table data. One page have multiple tables. gives list as an output
print(type(lst))
print(lst[0].head(2))
print(lst[1].tail(2))
print(lst[0].columns)
print(lst[0][['Col00','Col5']].head(1))  # selected columns in [[  ]]
print(lst[0].dtypes)

print(type(lst[0][['Col00']]))    #     <class 'pandas.core.frame.DataFrame'>
print(type(lst[0]['Col00']))      #     <class 'pandas.core.series.Series'>

<class 'list'>
   Col00  Col2  Col3  Col4  Col5
0      1     2     3     4     5
1      6     7     8     9     0
   Col11  Col2  Col3  Col4  Col5
2      1     2     3     4     5
3      6     7     8     9     0
Index(['Col00', 'Col2', 'Col3', 'Col4', 'Col5'], dtype='object')
   Col00  Col5
0      1     5
Col00    int64
Col2     int64
Col3     int64
Col4     int64
Col5     int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [ ]:
url = 'https://raw.githubusercontent.com/akhil12028/Bank-Marketing-data-set-analysis/master/bank-additional-full.csv'  # from any github library.
df = pd.read_csv(url,sep=';') #  ,names=['col001','col002','col003','col004','col005','col006','col007','col008','col009','col010'] , skiprows=[1,2,3]
print(df)
print(df.head(5))
print(df.tail(2))
print(df[['age']])
print(df[['age']].dtypes)
print(df.isnull)
print(pd.isnull(df))

       age          job  marital            education  default housing loan  \
0       56    housemaid  married             basic.4y       no      no   no
1       57     services  married          high.school  unknown      no   no
2       37     services  married          high.school       no     yes   no
3       40       admin.  married             basic.6y       no      no   no
4       56     services  married          high.school       no      no  yes
...    ...          ...      ...                  ...      ...     ...  ...
41183   73      retired  married  professional.course       no     yes   no
41184   46  blue-collar  married  professional.course       no      no   no
41185   56      retired  married    university.degree       no     yes   no
41186   44   technician  married  professional.course       no      no   no
41187   74      retired  married  professional.course       no     yes   no

         contact month day_of_week  ...  campaign  pdays  previous  \
0      telephone   may         mon  ...         1    999         0
1      telephone   may         mon  ...         1    999         0
2      telephone   may         mon  ...         1    999         0
3      telephone   may         mon  ...         1    999         0
4      telephone   may         mon  ...         1    999         0
...          ...   ...         ...  ...       ...    ...       ...
41183   cellular   nov         fri  ...         1    999         0
41184   cellular   nov         fri  ...         1    999         0
41185   cellular   nov         fri  ...         2    999         0
41186   cellular   nov         fri  ...         1    999         0
41187   cellular   nov         fri  ...         3    999         1

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0      nonexistent          1.1          93.994          -36.4      4.857
1      nonexistent          1.1          93.994          -36.4      4.857
2      nonexistent          1.1          93.994          -36.4      4.857
3      nonexistent          1.1          93.994          -36.4      4.857
4      nonexistent          1.1          93.994          -36.4      4.857
...            ...          ...             ...            ...        ...
41183  nonexistent         -1.1          94.767          -50.8      1.028
41184  nonexistent         -1.1          94.767          -50.8      1.028
41185  nonexistent         -1.1          94.767          -50.8      1.028
41186  nonexistent         -1.1          94.767          -50.8      1.028
41187      failure         -1.1          94.767          -50.8      1.028

       nr.employed    y
0           5191.0   no
1           5191.0   no
2           5191.0   no
3           5191.0   no
4           5191.0   no
...            ...  ...
41183       4963.6  yes
41184       4963.6   no
41185       4963.6   no
41186       4963.6  yes
41187       4963.6   no

[41188 rows x 21 columns]
   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  ...  campaign  pdays  previous     poutcome emp.var.rate  \
0   may         mon  ...         1    999         0  nonexistent          1.1
1   may         mon  ...         1    999         0  nonexistent          1.1
2   may         mon  ...         1    999         0  nonexistent          1.1
3   may         mon  ...         1    999         0  nonexistent          1.1
4   may         mon  ...         1    999         0  nonexistent          1.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          93.994          -36.4      4.857       5191.0  no
1          93.994          -36.4      4.857       5191.0  no
2          93.994          -36.4      4.857       5191.0  no
3          93.994          -36.4      4.857       5191.0  no
4          93.994          -36.4      4.857       5191.0  no

[5 rows x 21 columns]
       age         job  marital            education default housing loan  \
41186   44  technician  married  professional.course      no      no   no
41187   74     retired  married  professional.course      no     yes   no

        contact month day_of_week  ...  campaign  pdays  previous  \
41186  cellular   nov         fri  ...         1    999         0
41187  cellular   nov         fri  ...         3    999         1

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
41186  nonexistent         -1.1          94.767          -50.8      1.028
41187      failure         -1.1          94.767          -50.8      1.028

       nr.employed    y
41186       4963.6  yes
41187       4963.6   no

[2 rows x 21 columns]
       age
0       56
1       57
2       37
3       40
4       56
...    ...
41183   73
41184   46
41185   56
41186   44
41187   74

[41188 rows x 1 columns]
age    int64
dtype: object
<bound method DataFrame.isnull of        age          job  marital            education  default housing loan  \
0       56    housemaid  married             basic.4y       no      no   no
1       57     services  married          high.school  unknown      no   no
2       37     services  married          high.school       no     yes   no
3       40       admin.  married             basic.6y       no      no   no
4       56     services  married          high.school       no      no  yes
...    ...          ...      ...                  ...      ...     ...  ...
41183   73      retired  married  professional.course       no     yes   no
41184   46  blue-collar  married  professional.course       no      no   no
41185   56      retired  married    university.degree       no     yes   no
41186   44   technician  married  professional.course       no      no   no
41187   74      retired  married  professional.course       no     yes   no

         contact month day_of_week  ...  campaign  pdays  previous  \
0      telephone   may         mon  ...         1    999         0
1      telephone   may         mon  ...         1    999         0
2      telephone   may         mon  ...         1    999         0
3      telephone   may         mon  ...         1    999         0
4      telephone   may         mon  ...         1    999         0
...          ...   ...         ...  ...       ...    ...       ...
41183   cellular   nov         fri  ...         1    999         0
41184   cellular   nov         fri  ...         1    999         0
41185   cellular   nov         fri  ...         2    999         0
41186   cellular   nov         fri  ...         1    999         0
41187   cellular   nov         fri  ...         3    999         1

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0      nonexistent          1.1          93.994          -36.4      4.857
1      nonexistent          1.1          93.994          -36.4      4.857
2      nonexistent          1.1          93.994          -36.4      4.857
3      nonexistent          1.1          93.994          -36.4      4.857
4      nonexistent          1.1          93.994          -36.4      4.857
...            ...          ...             ...            ...        ...
41183  nonexistent         -1.1          94.767          -50.8      1.028
41184  nonexistent         -1.1          94.767          -50.8      1.028
41185  nonexistent         -1.1          94.767          -50.8      1.028
41186  nonexistent         -1.1          94.767          -50.8      1.028
41187      failure         -1.1          94.767          -50.8      1.028

       nr.employed    y
0           5191.0   no
1           5191.0   no
2           5191.0   no
3           5191.0   no
4           5191.0   no
...            ...  ...
41183       4963.6  yes
41184       4963.6   no
41185       4963.6   no
41186       4963.6  yes
41187       4963.6   no

[41188 rows x 21 columns]>
         age    job  marital  education  default  housing   loan  contact  \
0      False  False    False      False    False    False  False    False
1      False  False    False      False    False    False  False    False
2      False  False    False      False    False    False  False    False
3      False  False    False      False    False    False  False    False
4      False  False    False      False    False    False  False    False
...      ...    ...      ...        ...      ...      ...    ...      ...
41183  False  False    False      False    False    False  False    False
41184  False  False    False      False    False    False  False    False
41185  False  False    False      False    False    False  False    False
41186  False  False    False      False    False    False  False    False
41187  False  False    False      False    False    False  False    False

       month  day_of_week  ...  campaign  pdays  previous  poutcome  \
0      False        False  ...     False  False     False     False
1      False        False  ...     False  False     False     False
2      False        False  ...     False  False     False     False
3      False        False  ...     False  False     False     False
4      False        False  ...     False  False     False     False
...      ...          ...  ...       ...    ...       ...       ...
41183  False        False  ...     False  False     False     False
41184  False        False  ...     False  False     False     False
41185  False        False  ...     False  False     False     False
41186  False        False  ...     False  False     False     False
41187  False        False  ...     False  False     False     False

       emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed  \
0             False           False          False      False        False
1             False           False          False      False        False
2             False           False          False      False        False
3             False           False          False      False        False
4             False           False          False      False        False
...             ...             ...            ...        ...          ...
41183         False           False          False      False        False
41184         False           False          False      False        False
41185         False           False          False      False        False
41186         False           False          False      False        False
41187         False           False          False      False        False

           y
0      False
1      False
2      False
3      False
4      False
...      ...
41183  False
41184  False
41185  False
41186  False
41187  False

[41188 rows x 21 columns]